@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */

}
body{
    height: 100vh;
}
.logo{
    height: 10vh;
}
.colorsTab{
    /* background-color: red; */
    height: 90vh;
    display: flex;
}

.optionsTab{
    /* height: 70px; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    /* border: 1px solid red; */
    /* background-color:aqua; */

}
.opt {
    border: 1px solid rgba(128, 128, 128, 0.441);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin : 10px;
    border-radius: 16px;
}
.opt-selected{
    background-color: black;
    color: white;
}
.paletteTab{
    width: 80%;
    height: 100%;
    /* background-color: green; */
}
.paletteTab{
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.colorPalette{
    /* border : 1px solid red; */
    height: 40%;
    width: 25%;
    flex-shrink: 0;
    margin: 20px;
    border-radius: 15px ;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.colorPalette > div{
    /* background-color: aquamarine; */
    /* position: absolute; */
    width: 100%;
}
.color1{
    height: 40%;
}
.color2{
    height: 20% ;
}
.color3{
    height: 20% ;
}
.color4{
    height: 20% ;
}
.cp{
    position: relative;
}
.hexText{
    display: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 800;
    position: absolute;
}
.dsFlx{
    display: unset;
}
